$bluecolor: #00C7E5;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{
    width: 100%;
    height: 100vh;
    background-color: #EAFCFF;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2{
    font-weight: bold;
    font-size: 16px;
}

p{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}

.col{
    min-height: 300px;
    flex-basis: 33%;
    padding: 25px;
    border-radius: 5px;
    background-color: #EBECF0;
}

.colInner, .colInnerActive{
    width: 100%;
    margin-top: 25px;
    padding: 25px;
    color: #333;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.colInnerActive{
    background-color: #fff;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
    .leftSideBorder{
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background-color: red;
    }
}